/* *** REGOLE GENERALI *** */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 20px;
    line-height: 1.7em;
}

main > section {
    padding-bottom: 50px !important;
}

main > section .macro-blocco {
    padding-top: 50px;
}

.p-center {
    padding: 0 15%;
}

.hr-inline {
    display: inline-block;
    border: solid 1px #000;
    width: 60%;
    margin-left: 7%;
    margin-bottom: 0.35em;
}

/* ************************** */

/* REGOLE GENERALI COLONNE CLEARFIX */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
}

.col-33:nth-child(2n+2) {
    margin: 0 5%;
}

.col-25 {
    width: 25%;
    padding: 30px;
}

.col-25 i {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    vertical-align: middle;
}

.col-25 img {
    max-height: 50px;
    max-width: 115px;
}

.col-25 h3 {
    font-size: 42px;
    font-weight: 900;
}

.col-25 .dati-numerici {
    display: block;
    font-size: 32px;
    font-weight: 900;
    margin: 20px auto;
}

.col-25 .dati-numerici::after {
    vertical-align: middle;
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-size: 0.4em;
    content: "\f067"
}


.col-33 {
    width: 30%;
}

.col-33 img {
    height: 100px;
    display: block;
    margin: 0 auto 25px;
}

.col-66 {
    width: 66%;
    margin-left: 1%;
    padding: 20px 0;
    text-align: left;
}


/* Buttons */
.btn {
    padding: 7px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-transparent {
    border: solid 1px #ff7353;
    color: #ff7353 !important;
}

.btn-white {
    color: #33475b;
    background-color: #fff;
}

.btn-orange {
    background-color: #ff7353;
    color: #fff !important;
    font-weight: bold;
    border: 0;
}

.btn-large {
    padding: 15px 35px;
    font-weight: bold;
}

/* FONTAWESOME */
.fa-search {
    color: #8b7e84;
}

.fa-chevron-down {
    padding-left: 7px;
}

/* *** HEADER *** */
header {

}

/* ** NAVBAR ** */
/* Regole generali */
.flex-sx {
  float: left;
}

.flex-dx {
  float: right;
}

/* Fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  line-height: 60px;
  background-color: #f4f7f9;
  box-shadow: 1px 1px 1px #898d8f;
}

.fixed-nav #nav-language {
    padding-right: 15px;
    border-right: solid 1px #000;
}

.fixed-nav li {
    display: inline-block;
    padding-right: 15px;
}

.fixed-nav li a {
    text-decoration: none;
    color: #000;
}

/* MENU */
.menu-inline {
  margin-top: 75px;
  height: 70px;
  line-height: 70px;
  box-shadow:0px 1px 1px #de1dde;
  /* box-shadow: 0px 0px 3px #c5cacc; */
  /* border-bottom: solid 2px #606060; */
}

.menu-inline .logo {
    margin-top: 15px;
}

.menu-inline li {
    display: inline-block;
    padding-right: 25px;
}

.menu-inline li a {
    text-decoration: none;
    color: #000;
}


/* Jumbotron */
header .jumbotron {
    height: 830px;
    background-image: url("../img/jumbotron.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-color: #fff4ed;
    /* border-bottom: solid 5px #2f3f53; */
}

header .jumbo-container {
    width: 40%;
    padding-top: 130px;
}

.jumbo-container h1 {
    font-size: 48px;
    font-weight: bold;
}

.jumbo-container p {
    margin: 35px 0 45px;
}

.jumbo-container span {
    display: block;
    margin: 50px 0;
    font-size: 14px;
}

/* sezioni */
.primo {
    background-color: #f4f7f9;
}

.macro-blocco {
    text-align: center;
}

.macro-blocco h2 {
    font-size: 32px;
}

.macro-blocco p {
    margin: 25px 0;
}

.blocco {
    padding: 0 17%;
    text-align: center;
}

.blocco > img {
    height: 200px;
}


/* *** CARDS *** */
.cards {
    background-color: #fff;
    box-shadow: 0px 0px 3px #c5cacc;
    border-radius: 5px;
    padding: 35px 40px;
    text-align: center;
}

.cards h3 {
    font-size: 24px;
}

.cards h4 {
    font-size: 18px;
    margin-bottom: 25px;
}

.cards .features {
    margin-right: 30px;
}

.cards .features::before {
    display: inline-block;
    padding-right: 15px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #ff7353;
    content: "\f058"
}

.cards .cards-top {
    margin-bottom: 50px;
}

.cards .cards-bottom {
    padding-top: 30px;
    border-top: solid 2px #000;
    margin-bottom: 50px;
}

.cards .cards-bottom li {
    text-align: left;
    list-style: none;
    margin: 10px 20px;
}

.cards.cards-full {
    width: 100%;
    padding: 50px;
}

.cards.cards-full img {
    margin-top: 25px;
}

/* SEZIONE GRIGLIA */
.sez-griglia {
    color: #fff;
    font-weight: bold;
    background-image: linear-gradient(45deg,#00a4bd,#00bda5);
}

.sez-griglia .macro-blocco > div {
    padding-top: 30px;
    padding-bottom: 40px;
}

.sez-griglia .col-25:not(:first-child) {
    border-left: solid 1px #fff;
}

.sez-griglia .riga-1 {
    border-bottom: solid 1px #fff;
}

/* SEZIONE GET STARTED */
.sez-getStarted {
    color: #000;
}

.customers .col-25 {
    padding-top: 0;
    margin-left: 100px;
    text-align: left;
}

.customers .loghi {
    margin-left: 5%;
    width: 90%;
}

.customers .loghi .col-25 {
    margin: 0;
}

.start-growing .jumbo-container{
    display: inline-block;
    width: 55%;
    text-align: left;
}

.start-growing .jumbo-container p {
    margin: 30px 0 50px;
}

.start-growing .jumbo-container small {
    display: block;
    margin-top: 50px;
}

.start-growing .jumbotron {
    text-align: left;
}

.start-growing .jumbotron img {
    margin-left: 20%;
    height: 370px;
}

/* *** FOOTER *** */
footer {
    color: #fff;
    background-color: #33475b;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer .menu-list .col-25 {
    padding-left: 0;
    text-align: left;
}

footer .menu-list .col-25 li {
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

footer .menu-list .col-25 li:first-child {
    font-weight: bold;
    margin-bottom: 20px;
}

footer .menu-list .btn-list {
    margin-top: 25px;
    margin-bottom: 20px !important;
}

footer .menu-list .social-list a {
    margin-right: 30px;
}

footer .menu-list .social-list .fab {
    font-size: 14px !important;
    font-weight: 100;
}

footer .menu-footer {
    text-align: left;
    padding-bottom: 50px;
}

footer .menu-footer li {
    display: inline-block;
}

footer .menu-footer a {
    padding-right: 25px;
    font-weight: bold;
}

footer .language {
    text-align: center;
    margin: 20px auto;
    border-bottom: solid 1px #fff;
}

footer .language li {
    display: inline-block;
    margin: 20px auto;
}

footer .language a {
    padding: 0 25px;
}

#Copyright {
    display: block;
}
